<body class="d-flex flex-column h-1000 text-center" *ngIf = "!(accountService.currentUser$ | async)" >
  <div style="  background-image: url(./assets/splash.png);
      background-color: #eeeeee;
      height: 500px;
      width: auto;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 10%;" *ngIf="!logInMode">
  <!-- <body class="d-flex flex-column h-1000 text-center" style="background-color: #eeeeee;"> -->
  <!-- style="background-image: url('./assets/splash.png');"> -->

  <div class="container welcome-mt" >
    <!-- <div class="text-align: center" *ngIf="!logInMode && !loggedIn"> -->
    <div class="text-align: center" >
      <h1>Welcome to WEST – the Wales Essential Skills Toolkit</h1>
      <p class="lead">WEST puts you in charge of your learning and gives you all the tools and support you need for
        Essential Skills success.</p>
      <div class="text-center">
        <button (click)="logInToggle()" class="btn btn-primary btn-lg mr-2">
          Sign in
        </button>
        <button class="btn btn-info btn-lg">
          Take a 10 minute screener
        </button>
      </div>
    </div>
  </div>
  </div>

  <div *ngIf="logInMode" >
  <!-- <div *ngIf="logInMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4"> -->
        <app-login [orgsFromHomeComponent]="orgs" (cancelLogin)="cancelLoginMode($event)"
          (submitLogin)="submitLogin($event)"></app-login>
      <!-- </div>
    </div>
  </div> -->
</div>
<!-- 
  <div *ngIf="loggedIn">
    <app-users></app-users>
  </div> -->