.navbar-custom {
  background-color: darkred;
}
#nav-tab {
    background-color: darkred;
  }
  
  .nav-link-light {
    color: whitesmoke
  }
  
  .light {
    color: whitesmoke
  }
  .nav-tabs {
    border-bottom: 0px ;
  }
.html {
  
}