.navbar-custom {
  background-color: darkred;
}

.html {
  background-color: #eeeeee;
}
/* .dropdown-toggle, .dropdown-item {
  cursor: pointer;

} */

/* Menu Nav */
.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
