<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="#"> <img src="./assets/SignIn Top-Left logo.png" alt="Wales Essential Skills Toolkit" width="325" height="64.8"
        style="margin-top: 0px; margin-bottom: 0px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto" *ngIf = "currentUser$ | async">
            <li class="divider"></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Sign out</a>
          </li>        
        </ul>

        <div class="dropdown" *ngIf = "currentUser$ | async" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome, {{model.username}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu> 
                <a  class="dropdown-item">Users</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Sign out</a>
            </div>
        </div>

        <!-- [hidden] = property-->
        <form #loginForm="ngForm" 
            class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
            autocomplete="off"
            *ngIf = "!currentUser$ | async">
          <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Username" >
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2" type="password" placeholder="Password" >
          <button class="btn btn-outline-light" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </nav>
