<nav role="navigation" aria-label="user navigation" class="">
    <ul id="user-menu-links" >

<li class="menu-249 active-trail first active">
        <a href="/users" title="" class="active-trail active">Users</a></li>
<li class="menu-137"><a href="#" title="">Groups</a></li>
<li class="menu-202"><a href="#" title="">Learner resources</a></li>
<li class="menu-276"><a href="#" title="">Reports</a></li>
<li class="menu_001 last"><span>Last signed in: 10 Feb 06:18</span></li>
</ul>
</nav>

<h1>Welcome {{user.username}}!</h1>

